.Candidatecontainer{
    height: 100%;
    width: 100%;
    background-image:url("Candidate.jpg");
    background-position: center;
    background-size: cover;
    position: ; 
}
.CandidateLogin { 
    position: relative;
    left: 30%;
    width:400px;
    height:350px;
    border-radius: 25px;
    background-color:;


}
.form-control{
    margin-left:10px;
    margin-right: 10px;
    width: 380px; 
    margin-top:22px;
}

h3 {
  position: absolute;
  left: 4px;
  top: 2px;
}
label {
position: relative;
  left: 10px;
  top: 32px;
}
.button {
  background-color: #4CAF50;
  border-radius:25px;
  left: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}