.thead-light{
	height: 100%;
    width: 150%;
    margin-left: 190px;
    background-color: black;
    background-position: center;
    background-size: cover;
    border-radius: 20px; 
    color: white;

}
.CvList{
	height: 100%;
    width: 100%;  
    background-position: center;
    background-size: cover;
    position: ; 

}
