.thead-dark{
	height: 100%;
    width: 70%;
    margin-left: 200px;
    background-color: white;
    background-position: center;
    background-size: cover;
    border-radius: 20px; 
    color: black;


}
.CvList{
	height: 100%;
    width: 100%;  
    background: #20242f;
    color: white;
  
}
.thead{
	margin-left: 20px;
}