.thead-dark{
	height: 100%;
    width: 70%;
    margin-left: 200px;
    background-color: white;
    background-position: center;
    background-size: cover;
    border-radius: 20px; 
    color: white;


}
.CvList{
	height: 100%;
    width: 100%;  
    color: white;
 background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));
}
  

.thead{
	margin-left: 20px;
}