.thead-dark{
	height: 100%;
    width: 100%;
    margin-left: 250px;
    background-color: #F2F3F4;
    background-position: center;
    background-size: cover;
    border-radius: 20px; 
    color: black;


}
.CvList{
	height: 100%;
    width: 100%;  
    background: #fff;
  
}
.thead{
	margin-left: 20px;
}