.Recruitercontainer{
background-color: grey;
}



.Recruiterlogin{
  display: flex;
  color:black;
  background-color:rgb(255, 255, 255);
  box-shadow: 1px 1px 5px 5px #00000044;
  width:400px;
  height:380px;
  flex-direction: column;
  margin:0 auto;
  margin-top:10%;
  align-items:center;
  border-radius: 10px;
  
  transitions: 0.5s;
}
.form-input{
  padding:10px;
  border-radius:4px;
  background: none;
  border: 2px solid rgb(211, 211, 211);
  width:50%;
  height:20px;
  transition:0.5s;
  color: rgba(0, 0, 0, 0.678);
}

a{
  text-decoration: none;
  color: black;
}

.form-input{
  display:inline-block;
  padding:10px;
  background-color: white;
  box-shadow: 1px 1px 5px 5px #00000044;
  border-radius:5px;
  box-shadow: 1px 1px 5px 5px #00000044;
}

.login-ahref:hover{
  letter-spacing:2px;
  padding-left:110px;
  padding-right:110px;
}
.form-input:hover{
  box-shadow: 1px 1px 5px 5px #00000044;
  color:black;
  width:60%;
  
}
.fornm-input:focus{
  color: Black;
}