.ViewJobsList{
	height: 100%;
    width: 100%;   
background-image: url("./back.png");
 padding: 5px 25px;
 color: white;

}
.danger{
background-color: grey;
 border-radius:20px;
 padding: 1px 35px;
}