.Candidatecontainer{
    height: 100%;
    width: 100%;
    background-image:url("Candidate.jpg");
    background-position: center;
    background-size: cover;
    position: ; 
}
.CandidateLogin { 
    position: relative;

    left: 35%;
    top :50%;
    width:320px;
    height:350px;
    border-radius: 25px;
    background-color: white;


}

h3 {
  position: absolute;
  left: 4px;
  top: 2px;
}