
.SignUpcontainer{
    height: 100%;
    width: 100%;
   background-color: #436F5A;
    background-position: center;
    background-size: cover;
    position: ; 
}
.CandidateSignup { 
    position: relative;
    left: 33%;
    width:445px;
    height:575px;
    border-radius: 25px;
    background-color:white ;


}
.form-control{
    margin-left:10px;
    margin-right: 10px;
    width: 380px; 
    margin-top:22px;
}

h3 {
  position: relative;
  left: 4px;
  top: 2px;
  bottom-margin: 5px;
}
label {
position: relative;
  left: 10px;
  top: 20px;

}
.button {
  background-color: #4CAF50;
  border-radius:25px;
  left: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
p{
   margin-left:10px;
    margin-right: 10px;
    width: 380px; 
    margin-top:22px;
}
.form-control
{
border-radius:25px;

}
.b{
 background-color: #20BF73;
 border-radius:20px;
 padding: 12px 28px;

}