.{
	margin:0;
	padding: 0;

}
.Cvcontainer{
	height: 100%;
	width: 100%;
	background-image:green;
	background-position: center;
	background-size: cover;
	position: fixed; 
}
.footer-email-link {
    margin-left: 1rem; /* 4px */
    border-radius: 20px;
}
.slelect{
   border-radius: 20px;
}