.JobsList{
	height: 100%;
    width: 100%;
    background-color: 		#0080ff;
    background-position: center;
    background-size: cover;
    position: ; 
}
.Button
{
	background-color: white; 
}