.JobsList{
	height: 100%;
    width: 100%;
    background-color:#436F5A;
    background-position: center;
    background-size: cover;
    position: ; 
}
.a
{
	background-color: lightgrey; 
	border-radius: 500px;
	color: white;
}
.ap{
 border-radius: 200px;
 background-color: blue;
 color: white;
 
}
.thead-light
{
	 border-radius: 5000px;
}