.PreviousJobs{
	height: 100%;
    width: 100%;
    background-color: #F8F9F9;
    background-position: center;
    background-size: cover;
    position: ; 
}
.a
{
	background-color: lightgrey; 
	border-radius: 500px;
}
.ap{
 border-radius: 500px;
 background-color: #b4b4b4;
 padding: 5px 10px;
}
.thead-light
{
	 border-radius: 5000px;
}
